# < 분산 >
## 주어진 데이터 셋에서 f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하고
## 앞에서 부터 20개의 데이터를 추출한 후, f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하시오. (소수점 둘째 자리까지)

### - 데이터셋 : basic1.csv
### - 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
### - File -> Editor Type -> Script

### 라이브러리 및 데이터 불러기기

In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("/kaggle/input/bigdatacertificationkr/basic1.csv")

### EDA

In [2]:
data.head(5)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

### f2가 0값인 데이터를 age를 기준으로 오름차순 정렬하기

In [3]:
data2 = data[data['f2'] == 0]
data3 = data2.sort_values('age')
data3

       id    age city     f1  f2   f3    f4         f5
98   id99    1.0   경기   47.0   0  NaN  ESFJ  97.381034
0    id01    2.0   서울    NaN   0  NaN  ENFJ  91.297791
85   id86    2.0   경기    NaN   0  NaN  ESTP  29.269869
56   id57    3.0   대구  111.0   0  NaN  ISFJ  29.269869
90   id91    6.0   경기   72.0   0  NaN  INTP   9.796378
71   id72    8.0   경기   97.0   0  NaN  ESTJ  97.381034
12   id13   15.0   서울   68.0   0  NaN  ESFJ  83.685380
29   id30   16.0   부산    NaN   0  NaN  ESTJ  17.252986
47   id48   18.0   대구    NaN   0  NaN  ENFP  20.129444
11   id12   20.0   서울    NaN   0  NaN  ESTP  91.297791
92   id93   21.8   경기   57.0   0  NaN  ISFP  73.586397
5    id06   22.0   서울   57.0   0  vip  INTP  20.129444
42   id43   23.0   대구   60.0   0  NaN  ISTP  29.269869
31   id32   25.0   부산   64.0   0  vip  ISFJ  13.049921
64   id65   26.5   경기    NaN   0  NaN  ISFP  91.297791
78   id79   30.0   경기    NaN   0  NaN  INTJ  80.138280
24   id25   34.0   부산    NaN   0  NaN  ESTP  60.339826
50   id51   36.0   대구    NaN   0  NaN  ISTJ  83.685380
26   id27   37.0   부산   60.0   0  NaN  ESTP  73.586397
10   id11   40.0   서울   68.0   0  NaN  ENFP  98.429899
43   id44   44.0   대구    NaN   0  NaN  INTP  16.283854
73   id74   45.0   경기   98.0   0  NaN  ESTP  52.667078
99  id100   47.0   경기   53.0   0  vip  ESFP  33.308999
32   id33   47.0   부산   94.0   0  NaN  ENFJ  17.252986
81   id82   48.0   경기    NaN   0  NaN  ENTJ  37.113739
52   id53   52.0   대구   50.0   0  NaN  ESTP  20.129444
61   id62   52.0   경기    NaN   0  NaN  INTP  60.339826
18   id19   53.0   서울    NaN   0  NaN  ISFP  83.685380
89   id90   54.0   경기    NaN   0  NaN  ENTP  29.269869
39   id40   56.0   대구   75.0   0  NaN  ENFP  17.252986
59   id60   56.0   경기    NaN   0  NaN  ESFP  52.667078
38   id39   56.0   부산   50.0   0  NaN  INFJ  33.308999
74   id75   63.0   경기   47.0   0  NaN  ESTP  20.129444
83   id84   66.0   경기   44.0   0  NaN  INTP  83.685380
79   id80   67.0   경기   60.0   0  NaN  ISFP  83.685380
15   id16   68.0   서울   85.0   0  NaN  ESFP  16.283854
75   id76   71.0   경기   12.0   0  NaN  ENTJ  83.685380
48   id49   75.0   대구   88.0   0  NaN  INTP  37.113739
68   id69   75.0   경기   85.0   0  NaN  ESTJ  69.730313
76   id77   77.0   경기   31.0   0  NaN  INFP  98.429899
23   id24   80.0   부산   44.0   0  NaN  INFJ  73.586397
40   id41   81.0   대구   55.0   0  NaN  ENFJ  37.113739
84   id85   83.6   경기   55.0   0  NaN  INFJ  80.138280
30   id31   86.0   부산   77.0   0  NaN  ESFJ  73.586397
87   id88   89.0   경기   75.0   0  NaN  ESTJ  60.339826
45   id46   93.0   대구    NaN   0  NaN  ESTJ  67.886373
44   id45   97.0   대구   88.0   0  NaN  ENFJ  13.049921
36   id37  100.0   부산    NaN   0  NaN  ESTP  33.308999
96   id97  100.0   경기    NaN   0  NaN  INFP  67.886373

### 앞에서 부터 20개의 데이터를 추출한 후,
### f1 결측치(최소값)를 채우기 전과 후의 분산 차이를 계산하기 (소수점 둘째 자리까지)

In [4]:
data3 = data3.head(20)

# 'f1'칼럼의 결측치 채우기 전 'f1'칼럼의 분산
before_var = data3['f1'].var()
print(before_var)

# 'f1'칼럼의 결측치 채운 후 'f1'칼럼의 분산
min = data3['f1'].min()
data4 = data3['f1'].fillna(min)
after_var = data4.var()
print(after_var)

351.7636363636363
313.32631578947377

In [5]:
# 최종 결과 출력
res = abs(before_var - after_var)
print(round(res,2))

38.44

## 풀이 (예시답안)

In [6]:
import pandas as pd

# 데이터 불러오기
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")

# f2가 0인 데이터 정렬(age 오름차순)
cond = (df['f2']==0)
df = df[cond].sort_values('age', ascending=True).reset_index(drop=True)

# 앞에서 부터 20개의 데이터 
df = df[:20]

# f1 결측치(최소값)를 채우기 전과 후의 분산
df_var1 = df['f1'].var()
df['f1'] = df['f1'].fillna(df['f1'].min())
df_var2 = df['f1'].var()

# 소수점 둘째자리까지 출력
print(round(df_var1 - df_var2, 2))

# 정답 : 38.44




# 추가 설명 판다스와 넘파이 기본값 비교

import numpy as np
print("numpy:", np.var(df['f1']))
print("pandas(ddof=0):",df['f1'].var(ddof=0))

print("pandas:",df['f1'].var())
print("numpy(ddof=1):", np.var(df['f1'], ddof=1))

38.44
numpy: 297.6600000000001
pandas(ddof=0): 297.6600000000001
pandas: 313.32631578947377
numpy(ddof=1): 313.32631578947377